@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:400,800');
body {
  background-color: #00A7E1;
  font-family: 'Big Shoulders Text', cursive;
}

header {
  background-color: #003459;
  height: 50px
}

h2, span {
  display: inline;
  color: #C8FFC1;
  line-height: unset
}

form {
  border-color:  !important#C8FFC1;
}

#country {
  padding-top: 1px;
  padding-bottom: 1px
}

/*table*/
.table thead th {
  border-top: none;
  color: #003459;
  border-color: #C8FFC1
}

.table td {
  color: #C8FFC1;
  border-color: #C8FFC1
}

.search-box {
  background-color: #007EA7;
  color: #C8FFC1
}

.input-box {
  border-radius: 10px;
  background-color: #A5C7FF;
  border-color: #C8FFC1;
  border-style: solid;
  border-width: 2px;
}

.input-box:focus {
  outline: none;
}

h4 {
  color: #C8FFC1
}

footer {
  background-color: #003459;
  color: #00A7E1;
  height: 30px;
}

#map {
  min-height: 300px;
}

/*radio buttons customization*/
.custom-radio .custom-control-label::before {
  background-color: #C8FFC1;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: #003459;
}

/*@media*/
@media only screen and (min-height: 600px) {
  #map {
    height: 500px;
  }
}


@media only screen and (min-height: 900px) {
  #map {
    height: 790px;
  }
}

@media only screen and (min-height: 950px) {
  #map {
    height: 840px;
  }
}

@media only screen and (min-height: 1020px) {
  #map {
    height: 910px;
  }
}

@media only screen and (min-height: 1360px) {
  #map {
    height: 1250px;
  }
}

@media only screen and (min-width: 576px) {
  form {
    border-style: solid;
    border-radius: .25rem
  }
}
/*@media Big desktop screen*/
@media only screen and (min-width: 2500px) {
  h2{
    margin-bottom: 5rem
  }

  h3{
    font-size: 3rem
  }

  #row-search{
    margin-left: 20rem;
    margin-right: 20rem;
    font-size:xx-large
  }
  #radio-box{
    font-size: xx-large;
    margin-top: 5rem;
  }
}
