@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:400,800');

body {
  background-color: #00A7E1;
  font-family: 'Big Shoulders Text', cursive;
  /*color: #D8FFDD*/
}
header{
  background-color: #003459;
}
h4, span {
  display: inline;
  color: #C8FFC1
}

.search-box {
  background-color: #007EA7;
  color: #C8FFC1
}

.input-box {
  border-radius: 10px;
  background-color: #A5C7FF;
  border-color: #C8FFC1;
  border-style: solid;
  border-width: 2px;
}

.input-box:focus {
  outline: none;
}

h4 {
  color: #C8FFC1
}

footer {
  background-color: #003459;
  color: #00A7E1;
  height: 30px;
}

#map {
  min-height: 360px;
}
/*radio buttons customization*/
.custom-radio .custom-control-label::before {
    background-color: #C8FFC1;
  }
.custom-radio .custom-control-input:checked~.custom-control-label::before {
      background-color: #003459;
    }

/*@media*/
@media only screen and (min-width: 768px) {
  #map {
    height: 500px;
  }
}
@media only screen and (min-height: 600px) {
  #map {
    height: 690px;
  }
}
@media only screen and (min-height: 900px) {
  #map {
    height: 790px;
  }
}
@media only screen and (min-height: 950px) {
  #map {
    height: 840px;
  }
}

@media only screen and (min-height: 1020px) {
  #map {
    height: 910px;
  }
}

@media only screen and (min-height: 1360px) {
  #map {
    height: 1250px;
  }
}
